*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: #FFFFFF;
  padding: 10px;
}

body {
  background-color: #F6F8FA;
}

#container {
  max-width: 1250px;
  margin: 50px auto;
  background-color: #FFFFFF;
  height: 560px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 25px;
}


.img-box h1{
  font-family:Arial, Helvetica, sans-serif;
  display: inline-block;
  vertical-align: middle;
}

.img-box img {
   vertical-align: middle;
}

.add-task {
  background-color: blue;
  width: 100px;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  color: white;
  margin-left: 50px;
}

.add-section {
  background-color: red;
  width: 130px;
  border-radius: 8px;
  text-align: center;
  padding: 9px;
  color: white;
  margin-left: 158px;
  position: relative;
  margin-top: -39px;
  background-color: white;
  color: #D9DEDC;
  border: 2px solid #D9DEDC;
}

/* .line { 
  position: relative;
  left: -25px;
  height: 2px;
  background-color: red;
  margin: 15px auto;
} */

.line {
  padding: 8px;
  border-bottom: 3px solid #F8F8F8;
  margin-left: -25px;
  margin-right: -25px;
}

ul {
  list-style-type: none;
}


.list-box {
  margin-left: 70px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 30px;
}

.task-box .box {
  font-weight: bold;
}

.task-box ul li {
  margin-left: 6px;
}


.button {
  background-color: blue;
  width: 100px;
  border-radius: 15px;
  text-align: center;
  padding: 8px;
  color: white;
  margin-left: 50px;
}

.lista-2 {
  padding-top: 20px;
}

.letter {
  padding-top: 10px;
}

.today-list {
  margin-left: 6px;
}

